@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3 {
    font-family: 'Roboto Slab', serif;
}

@media(min-width: 1280px) {
    /* .elshan {
        margin: 0;
        height: 100%;
    } */

    .logo {
        margin: 21px 0 100px 121px;
        width: 112px;
        height: 66px;
    }

    .about {
        width: 509px;
        height: 36px;
        display: flex;
        justify-content: space-between;
        margin: 0 0 26px 121px;
    }

    .about div {
        display: flex;
    }

    .about p {
        font-weight: 400;
        font-size: 20px;
        line-height: 115%;
        width: 130px;
        height: 32px;
    }

    .online {
        width: 165px;
        height: 35px;
    }

    .online img {
        width: 22px;
        height: 21px;
        position: absolute;
        top: -3px;
    }

    .online p {
        left: 30px;
    }

    .clock {
        width: 162px;
        height: 36px;
        position: relative;
    }

    .clock img {
        width: 22px;
        height: 22px;
        position: absolute;
        top: -4px;
        left: 10px;
    }

    .clock p {
        margin-right: 30px;
        text-align: end;
        position: absolute;
        left: -5px;
    }

    .calendar {
        width: 163px;
        height: 36px;
        position: relative;
    }

    .calendar img {
        width: 20px;
        height: 22px;
        position: absolute;
        left: 0px;
        top: -4px;
    }

    .fa {
        position: relative;
    }

    .fa p {
        position: absolute;
        right: 0;
    }

    .watch {
        display: flex;
        justify-content: space-between;
        width: 1072px;
        margin: 4px 0 83.62px 122px;
    }

    .watchtext {
        width: 628px;
        height: 250px;
    }

    .watch h1 {
        font-weight: 700;
        font-size: 80px;
        line-height: 101.38%;
        width: 628px;
        height: 190px;
    }

    .watch p {
        font-weight: 400;
        font-size: 20px;
        line-height: 150%;
        width: 414px;
        height: 62px;
        margin-top: -11px;
        margin-left: 0px;
    }

    .watchimg {
        width: 304px;
        margin-top: -26px;
        position: relative;
    }

    .director {
        width: 304px;
        height: 356px;
    }

    .ellipse1 {
        width: 274px;
        height: 41px;
        position: absolute;
        bottom: -16px;
        right: 0;
        z-index: -1;
    }

    .blue-text {
        width: 483.63px;
        height: 200px;
        box-sizing: border-box;
        background: #1E4681;
        border-radius: 5px;
        margin-left: 409.39px;
        margin-bottom: 165.38px;
        padding: 19.26px 18.52px 0.02px 26.03px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
    }

    .text-first {
        margin-right: 8.5px;
        width: 430.59px;
        height: 113px;
        font-weight: 400;
        font-size: 25px;
        line-height: 32px;
        font-family: 'Roboto Slab';
        color: #FFFFFF;
    }

    #text-name {
        width: 280.5px;
        height: 45.64px;
        font-weight: 400;
        font-size: 20px;
        line-height: 130%;
        color: #FFFFFF;
        font-family: 'Roboto';
        display: flex;
        justify-content: end;
    }

    .course-text {
        display: flex;
        margin-left: 121px;
        margin-bottom: 94px;
    }

    .course-head h1 {
        font-weight: 700;
        font-size: 55px;
        margin: 0 0 47px 121px;
    }

    .course-text p {
        font-weight: 400;
        font-size: 24px;
        width: 662px;
        height: 420px;
        line-height: 150%;
    }

    .course-img {
        width: 314px;
        height: 345px;
        position: relative;
        margin-left: 190px;
    }

    .cameraman {
        width: 314px;
        height: 315px;
        margin-top: 24px;
    }

    .ellipse2 {
        position: absolute;
        bottom: -22px;
        right: -26px;
        z-index: -1;
    }
}

@media(min-width: 992px) and (max-width: 1279px) {
    .logo {
        margin: 22px 0 58.6px 70.08px;
        width: 64.87px;
        height: 38.23px;
    }

    .logo img {
        width: 64.87px;
        height: 38.23px;
    }

    .about {
        width: 294.8px;
        height: 20.85px;
        display: flex;
        justify-content: space-between;
        margin: 0 0 5.53px 70.08px;
    }

    .about div {
        display: flex;
    }

    .about img {
        width: 22px;
        height: 22px;
        margin-right: 10px;
    }

    .about p {
        width: 75.29px;
        height: 18.53px;
        font-weight: 400;
        font-size: 12px;
        line-height: 115%;
    }

    .online {
        width: 92.67px;
        height: 20.27px;

    }

    .online img {
        width: 12.74px;
        height: 12.16px;
        position: absolute;
        top: -3px;
    }

    .online p {
        left: 17px;
    }

    .clock {
        width: 93.82px;
        height: 20.85px;
        position: relative;
    }

    .clock img {
        width: 12.74px;
        height: 12.74px;
        position: absolute;
        top: -3px;
        left: 8px;
    }

    .clock p {
        margin-right: 30px;
        text-align: end;
        position: absolute;
        left: 0;
    }

    .calendar {
        width: 94.4px;
        height: 20.85px;
        position: relative;
    }

    .calendar img {
        width: 11.58px;
        height: 12.74px;
        position: absolute;
        left: 0;
        top: -3px;
    }

    .fa {
        position: relative;
    }

    .fa p {
        position: absolute;
        right: 0;
    }

    .watch {
        display: flex;
        width: 1072px;
        margin: 2.32px 142.48px 46.75px 70.66px;
    }

    .watch h1 {
        width: 363.72px;
        height: 112.04px;
        font-weight: 700;
        font-size: 46px;
        line-height: 101.38%;
    }

    .watch p {
        width: 250px;
        height: 36px;
        font-weight: 400;
        font-size: 12px;
        line-height: 150%;
    }

    .watchimg {
        position: relative;
        width: 176.65px;
        box-sizing: border-box;
        margin-left: 81px;
        margin-top: -6px;
    }

    .director {
        width: 176.07px;
        height: 206.18px;
    }

    .ellipse1 {
        width: 158.69px;
        height: 23.75px;
        position: absolute;
        bottom: -8px;
        right: 0;
        z-index: -1;
    }

    .blue-text {
        width: 280.11px;
        height: 115.83px;
        box-sizing: border-box;
        background: #1E4681;
        border-radius: 2.89583px;
        margin-left: 237.18px;
        margin-bottom: 95.65px;
        padding: 11.15px 9.42px 4.2px 15.08px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
    }

    .text-first {
        font-weight: 400;
        font-size: 14px;
        line-height: 130%;
        width: 249.38px;
        height: 65.45px;
        font-family: 'Roboto Slab';
        color: #FFFFFF;
        margin-right: 6.23px;
    }

    #text-name {
        width: 162.46px;
        height: 26.43px;
        font-weight: 400;
        font-size: 12px;
        line-height: 130%;
        color: #FFFFFF;
        text-align: right;
        font-family: 'Roboto';
        display: flex;
        justify-content: end;
    }

    .course-text {
        display: flex;
        margin-left: 70.08px;
        margin-bottom: 10.42px;
    }

    .course-head h1 {
        width: 211.4px;
        height: 53.86px;
        font-weight: 700;
        font-size: 32px;
        margin: 0 0 15px 70.08px;
    }

    .course-text p {
        width: 383.41px;
        height: 216.61px;
        font-weight: 400;
        font-size: 14px;
        line-height: 150%;
    }

    .course-img {
        width: 181.86px;
        height: 182.44px;
        position: relative;
        margin-left: 110.04px;
    }

    .cameraman {
        width: 181.86px;
        height: 182.44px;
        margin-top: 14px;
    }

    .ellipse2 {
        width: 211.98px;
        height: 34.17px;
        position: absolute;
        bottom: -30px;
        right: -14px;
        z-index: -1;
    }
}

@media(min-width: 320px) and (max-width: 991px) {
    .logo {
        margin: 36px 0 44.6px 35px;
        width: 52.19px;
        height: 30.75px;
    }

    .logo img {
        width: 52.19px;
        height: 30.75px;
    }

    .about {
        width: 237.18px;
        height: 14.91px;
        display: flex;
        justify-content: space-between;
        margin: 0 0 8.06px 35px;
    }

    .about div {
        display: flex;
    }

    .about img {
        width: 22px;
        height: 22px;
        margin-right: 10px;
    }

    .about p {
        width: 60.58px;
        height: 14.91px;
        font-weight: 400;
        font-size: 10px;
        line-height: 115%;
    }

    .online {
        width: 74.56px;
        height: 14.91px;
    }

    .online img {
        width: 10.25px;
        height: 9.79px;
        position: absolute;
        top: .5px;
    }

    .online p {
        left: 14px;
    }

    .clock {
        width: 75.49px;
        height: 14.91px;
        position: relative;
    }

    .clock img {
        width: 10.25px;
        height: 10.25px;
        position: absolute;
        top: 0;
        left: 6px;
    }

    .clock p {
        margin-right: 30px;
        text-align: end;
        position: absolute;
        left: 2px;
    }

    .calendar {
        width: 75.95px;
        height: 14.91px;
        position: relative;
    }

    .calendar img {
        width: 9.32px;
        height: 10.25px;
        position: absolute;
        left: 0;
        top: 0;
    }

    .fa {
        position: relative;
    }

    .fa p {
        position: absolute;
        right: 0;
    }

    .watch {
        display: flex;
        flex-direction: column;
        width: 1072px;
        margin: 2.32px 142.48px 43.75px 35.47px;
    }

    .watch h1 {
        width: 292.63px;
        height: 90.53px;
        font-weight: 700;
        font-size: 37px;
        line-height: 101.38%;
    }

    .watch p {
        width: 212.4px;
        height: 28.96px;
        font-weight: 400;
        font-size: 10px;
        line-height: 150%;
    }

    .watchimg {
        position: relative;
        width: 141.68px;
        box-sizing: border-box;
        margin-left: 165px;
    }

    .director {
        width: 141.66px;
        height: 165.89px;
    }

    .ellipse1 {
        width: 127.68px;
        height: 19.1px;
        position: absolute;
        bottom: -6px;
        left: 16px;
        z-index: -1;
    }

    .blue-text {
        width: 225.36px;
        height: 93.19px;
        background: #1E4681;
        border-radius: 2.89583px;
        margin-left: 37.98px;
        margin-bottom: 76.06px;
        box-sizing: border-box;
        padding: 8.97px 7.58px 3.38px 12.13px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
    }

    .text-first {
        width: 200.64px;
        height: 52.65px;
        font-weight: 400;
        font-size: 11px;
        line-height: 130%;
        font-family: 'Roboto Slab';
        color: #FFFFFF;
        margin-right: 5.01px;
    }

    #text-name {
        width: 130.7px;
        height: 21.27px;
        font-weight: 400;
        font-size: 10px;
        line-height: 130%;
        color: #FFFFFF;
        text-align: right;
        font-family: 'Roboto';
        display: flex;
        justify-content: end;
    }

    .course-text {
        display: flex;
        flex-direction: column;
        margin-left: 36px;
        margin-bottom: 8.39px;
    }

    .course-head h1 {
        width: 170.08px;
        height: 43.34px;
        font-weight: 700;
        font-size: 26px;
        line-height: 101.38%;
        margin: 0 0 8px 36px;
    }

    .course-text p {
        width: 308.47px;
        height: 174.27px;
        font-weight: 400;
        font-size: 12px;
        line-height: 150%;
    }

    .course-img {
        width: 181.86px;
        height: 182.44px;
        position: relative;
        margin-left: 77.04px;
    }

    .cameraman {
        width: 146.32px;
        height: 146.78px;
        margin-top: 56px;
    }

    .ellipse2 {
        width: 170.55px;
        height: 27.49px;
        position: absolute;
        bottom: -34px;
        right: 23px;
        z-index: -1;
    }
}