body{
    margin: 121px;
}
.about-course{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
h3{
    margin-top: 10px;
    font-size: 30px;
}
img{
    position: relative;
    bottom: 10px;
    right:85px;
    width: 232px;
    height: 203px;
}
.about-course div{
    width: 150px;
    height: 39px;
    font-size: 18px;


}
h2{

    margin-bottom: 21px;
    font-size: 66px;
}
ul{
    font-size: 24px;
    line-height: 36px;
    max-width: 662px;
    height: 374px;
}
.format{
    margin-top: 110px;
    margin-left: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.format div{
    width: 270px;
}
.format-lessons h3{
    font-size: 25px;
    color: #1E4681;  
}
.format-lessons p{
    font-size: 18px;
    width: 260px;
}
.format-lessons{
    position: relative;
    top: 100px;

}

@media (max-width: 991px){
    .format{
        display: flex;
        flex-direction: column;
    }
}
.wwknow{
    position: relative;
    top: 250px;
}
.wwknow ul{
    margin-top: 45px;
    position: relative;
    right: 20px;
}
